:root {
  font-family: Helvetica, Arial, sans-serif;
  font-synthesis: none;
  color: white;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  background: url(../assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}


body {
  margin: 0;
}

